    /* Ustawienie tła strony */
    body {
      background-color: #1e2229;
      font-family: sans-serif;
    }

    /* Nagłówek */
    header {
      height: 60px;
      background-color: #30353d;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
    }

    /* Obrazek w kółku w nagłówku */
    header img {
      width: 48px;
      height: 48px;
      border-radius: 24px;
      margin-right: 10px;
    }

    /* Tekst w nagłówku */
    header h1 {
      font-weight: bold;
      color: white;
      margin: 0;
    }

    /* Przyciski w nagłówku */
    header a {
      height: 30px;
      width: 30px;
      display: inline-block;
      align-items: right;
      line-height: 15px;
      border-radius: 15px;
    }
    
    header a img {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }

    /*Tabela*/
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 40%;
    }
    
    table.center {
      margin-left: auto;
      margin-right: auto;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

    /* Główny tekst na stronie */
    main {
      text-align: center;
      color: white;
    }

    main h1 {
      font-size: 48px;
      margin: 30px 0;
    }

    main p {
      font-size: 24px;
      color: rgba(255, 255, 255, 0.8);
    }

    /* Stopka */
    footer {
      padding: 20px;
      text-align: center;
      color: rgba(255, 255, 255, 0.4);
    }
